<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PairBot</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
<%= yield %>

    </div>
  </body>
</html>