<div class="magic">
<h2>Magic ball game</h2>

<form method='post' action='/magicball/answer'>
  <label>What do you want to know:</label><br />
  Me: <input type='text' name='question' size="50" autofocus>
</form>
</div>