<form method="GET" action="/">
<select name="start">
  <option value="some value"></option>
</select>

<select name="end">
  <option value="some value">Some option</option>
  <option value="some other value">Some other option</option>
  <option>Option without a value -- I am sent as the value</option>
  <option selected>This is the default selected value</option>
</select>

</form>