<!doctype html>
<html>
  <head>
    <link href="/style.css" rel="stylesheet" type="text">

    <title>Albert's blog</title>
  </head>
  <body>
    <div class="container">
    <a href="/"><h1>Full of thoughts</h1></a>
    <div class="clear"></div>
    <a class="oval-thought" href="/new">New entry</a>
    <div class="clear"></div>
    <%= yield %>
  </div><!-- container -->
  </body>
</html>