<!doctype html>
<html lang='en'>
<head>
  <link rel="stylesheet" href="/style.css">

</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <!-- Link to artists -->
      <li class="artist"><a href="/artist" alt="artist">Artist</a></li>
      <!-- Link to artworks -->
      <li class="artwork"><a href="/artwork" alt="artwork">Artwork</a></li>
    </ul>
  </nav>

<%= yield %>

<footer>

</footer>
</body>
</html>
