<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Movies database</title>
<link href='http://fonts.googleapis.com/css?family=Creepster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Averia+Gruesa+Libre' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
  <h1>Movie database search</h1>
    <%= yield %>
  </div><!-- close container -->
</body>
</html>