<form method='post' action='/foods'>
  <label>Name:</label><input value='' type='text' name='plant' autofocus>
  <label>Photo URL:</label><input value='' type='text' name='photo'>
  <label>Season:</label><input value='' type='text' name='season'>
  <input type="hidden" name="id" value='<%= @butterfly.id %>'>
  <button>CREATE LARVAL PLANT</button>
</form>
